aws_access_key = "YOUR_AWS_ACCESS_KEY"
aws_secret_key = "YOUR_AWS_SECRET_KEY"
aws_region = "us-east-1"
aws_kms_key_id = "YOUR_KMS_KEY_ID"
key_pair = "YOUR_KEY_PAIR"
unit_prefix = "myprefix"
instance_size = "t3.micro"
num_worker_nodes = "2"
owner_email = "your.email@example.com"
